body {
    margin: 0;
    padding: 5;
    font-family: Arial, sans-serif;
    background-image: url('img2.jpg'); /* Replace with the path to your background image */
    background-size: cover;
    background-color: #f5f5f5; /* Background color for fallback */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.payment-container {
    background-color: rgba(118, 114, 114, 0.8);
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    text-align: left;
    display: block;
    margin-bottom: 7px;
}

input {
    padding: 10px;
    border: 5px solid #444444;
    border-radius: 5px;
    width: 100%;
}

.expiration-cvv {
    display: flex;
    gap: 32px;
}

button {
    
    background-color: #2db331;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
}

button:hover {
    background-color: #3aa23f;
}
